<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% load static %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'first_app/css/shopping_cart.css' %}">

  <title>CurlayGurlay - Shopping Cart</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/curlaygurlay">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
        <ul class="navbar-nav m-auto">
          <li class="nav-item m-auto">
            <a class="nav-link" href="/curlaygurlay/loose_curl">LooseCurl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/curlaygurlay/tight_curl">TightCurl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/curlaygurlay/kinky_curl">KinkyCurl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/curlaygurlay/products">All Products</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/curlaygurlay/cart">Cart <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
              placeholder="Search...">
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary btn-number">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <a class="btn btn-success btn-sm ml-3" href="/curlaygurlay/cart">
            <i class="fa fa-shopping-cart"></i> Cart
            <span class="badge badge-light"></span>
          </a>
        </form>
      </div>
    </div>
  </nav>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Your CurlayGurlay Products</h1>
    </div>
  </section>

  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Product</th>
                <th scope="col">Available</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-right">Price</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              {% for prod in prods %}
              <tr>
                <td><img class="pic" src="/static/first_app/images/{{ prod.img_url }}" alt=""></td>
                <td>{{ prod.product_name }}</td>
                <td>In stock</td>
                <td><input class="form-control" type="text" value="1" /></td>
                <td class="text-right">{{prod.price}}</td>
                <td class="text-right"><a class="btn btn-sm btn-danger" href="/delete_item/{{prod.id}}"><i class="fa fa-trash"></i> </a> </td>
              </tr>
              {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Sub-Total</td>
                <td class="text-right">$ {{ total }}.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Shipping</td>
                <td class="text-right">$ 5.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td class="text-right"><strong>$ {{total|add:5.90}}.00</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12  col-md-6">
            <a class="btn btn-lg btn-block btn-secondary text-uppercase" href="/curlaygurlay/products">Continue
              Shopping</a>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <a class="btn btn-lg btn-block btn-secondary text-uppercase" href="/curlaygurlay/checkout/paypal">Checkout</a>
          </div>

          <!-- <div id="paypal-button-container"></div>

            <script>
              paypal.Buttons().render('#paypal-button-container');
            </script>

            <script>
              paypal.Buttons({
                createOrder: function (data, actions) {
                  // Set up the transaction
                  return actions.order.create({
                    purchase_units: [{
                      amount: {
                        value: '0.01'
                      }
                    }]
                  });
                }
              }).render('#paypal-button-container');
            </script>

            <script>
              paypal.Buttons({
                createOrder: function (data, actions) {
                  return actions.order.create({
                    purchase_units: [{
                      amount: {
                        value: '0.01'
                      }
                    }]
                  });
                },
                onApprove: function (data, actions) {
                  // Capture the funds from the transaction
                  return actions.order.capture().then(function (details) {
                    // Show a success message to your buyer
                    alert('Transaction completed by ' + details.payer.name.given_name);
                  });
                }
              }).render('#paypal-button-container');
            </script>

            <script>
              paypal.Buttons({
                createOrder: function (data, actions) {
                  return actions.order.create({
                    purchase_units: [{
                      amount: {
                        value: '0.01'
                      }
                    }]
                  });
                },
                onApprove: function (data, actions) {
                  return actions.order.capture().then(function (details) {
                    alert('Transaction completed by ' + details.payer.name.given_name);
                    // Call your server to save the transaction
                    return fetch('/paypal-transaction-complete', {
                      method: 'post',
                      headers: {
                        'content-type': 'application/json'
                      },
                      body: JSON.stringify({
                        orderID: data.orderID
                      })
                    });
                  });
                }
              }).render('#paypal-button-container');
            </script>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</body>

</html>