body{
    background-color: white;
}
p{
    font-family: 'Quicksand', sans-serif;
}
.blog{
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
}
.box1{
    border-style: groove;
    border-color: black;
    border-width: thin;
    width: 140px;
    height: 100px;
    left: 200px;
    position: relative;
    bottom:-10px;
    text-align: center;
    background-color: rgb(189, 231, 245);
    
}
.box2{
    border-style: groove;
    border-color: black;
    border-width: thin;
    width: 140px;
    height: 100px;
    position: relative;
    left: 400px;
    position: relative;
    bottom:90px;
    text-align: center;
    background-color: rgb(189, 231, 245);
}
.box3{
    border-style: groove;
    border-color: black;
    border-width: thin;
    width: 140px;
    height: 100px;
    position: relative;
    left: 600px;
    position: relative;
    bottom:190px;
    text-align: center;
    background-color: rgb(189, 231, 245);
}
.faveblogs{
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
}

.article{
    margin-left: 70px;
}
.health_link{
    margin-left: 600px;
    margin-bottom: 100px;
    position: relative;
    bottom: 200px;
    border-style: solid;
    border-color: lightblue;
    width: 380px;
    height: 30px;

}
.blogimg{
    height: 200px;
    width: 200px;
    margin-left: 700px;
    position: relative;
    bottom: 260px;
    


}