
img{
    height:300px;
    width:250px;
}
.hairtype{
    font-family: 'Quicksand', sans-serif;

}
.title{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 200px;
}
.hair_typesmt-5{
    text-align: center;
}
.shopping_cart{
    margin-left:
}

.image {
    opacity: 1;
    filter: alpha(opacity=100);
}

.image:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);