body {
    background-color: #FCF8F7;
}

img {
    width: 200px;
    height: 400px;
    border-bottom: black 3px solid;
}

.image {
    opacity: 1;
    filter: alpha(opacity=100);
}

.image:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.current {
    display: inline-block;
}

.product {
    margin-left: 110px;
    vertical-align: top;
    display: inline-block;
}

.products_list {
    margin-left: 500px;
}

.button {
    position: relative;
    left: 900px;
}
.header{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}