body {
    background-color: #FCF8F7;
}

img {
    width: 100px;
    height: 300px;
}

.product {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}

.top {
    border-top: black 2px solid;
}

.header {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}
.button{
    position: relative;
    left: 900px;
}